doctype html
html
  head
    title= title
    link(rel='stylesheet',  href='/stylesheets/style.css')
    link(rel='stylesheet',  href='/bower_components/dropzone/dist/min/dropzone.min.css')
    link(rel='stylesheet',  href='/bower_components/skeleton/css/normalize.css')
    link(rel='stylesheet',  href='/bower_components/skeleton/css/skeleton.css')
    script(type='text/javascript', src='/bower_components/dropzone/dist/min/dropzone.min.js')
  body
    div(class="container")
      #row(style="margin-top: 4%")
        div(class="two columns")
          if !user
            a(href="/auth/google")
              button(id="login") Login
          else
            a(href="/logout")
              button(id="login") Logout
    block content