extends layout

block content
  div(class="container")
    #row(style="margin-top: 5%")
      div(class="two columns")
        button(id="clickable") Add files
        input(id='user_folder', type='hidden', value='#{user_folder}')
    #row
      div(class="twelve columns")
        #previews.dropzone
    #row
      div(class="four columns")
        h3 Uploaded Files
    #row
      div(class="twelve columns")
        each val in uploaded_files
          a(class="file-item", href="#{val.file_url}", filetype="#{val.file_ext}")
            span(class="fileCorner")
            !{val.name}
          
  
  script(type='text/javascript').
    var user_folder = document.getElementById("user_folder").value;
    //var uploaded_files = !{uploaded_files};
    var myDropzone = new Dropzone(document.body, {     // Make the whole body a dropzone
      url: "/upload",                 // Set the url
      previewsContainer: "#previews", // Define the container to display the previews
      clickable: "#clickable",        // Define the element that should be used as click trigger to select files.
      paramName: user_folder
    }).on("success", function(file, responseText) {
      console.log("res");
      var a = document.createElement('a');
      var linkText = document.createTextNode("link");
      a.appendChild(linkText);
      file.previewTemplate.appendChild(a);
     });    
    //- .on("addedfile", function(file) {
    //-   file.previewElement.addEventListener("click", function() {
    //-     myDropzone.removeFile(file);
    //-   });
    


